.board-list-container {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}

.board-table {
    width: 80%;
    border-collapse: collapse; /* 테두리와 셀 사이의 간격 제거 */
    border-radius: 0.5em;
    margin-left: 8%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.board-total-table {
    width: 80%;
    border-collapse: collapse; /* 테두리와 셀 사이의 간격 제거 */
    border-radius: 0.5em;
    margin-left: 8%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.board-total-table th {
    background-color: #cce1ff;
    padding: 1em 0.8em;
    border-bottom: 0.1em solid #ddd;
    text-align: center;
    font-size: 0.8em;
    width: 20%;
}
.board-total-table tr {
    background-color: #f9f9f9; /* 기본 배경색 */
    transition: background-color 0.3s; /* 배경색 전환 애니메이션 */
    padding: 0.01em;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 1em;
}
.board-table th {
    background-color: #cce1ff;
    padding: 1em 0.8em;
    border-bottom: 0.1em solid #ddd;
    text-align: center;
    font-size: 0.8em;
    width: 25%;
}

/* 테이블 행 기본 스타일 */
.board-table tr {
    background-color: #f9f9f9; /* 기본 배경색 */
    transition: background-color 0.3s; /* 배경색 전환 애니메이션 */
    padding: 0.01em;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 1em;
}

.board-table th {
    font-size: 1.1em;
}

/* 테이블 행: 마우스를 올렸을 때 */
.board-table tr:hover {
    background-color: lightgray;
    cursor: pointer;
}

/* 테이블 데이터 셀 스타일 */
.board-table td {
    padding: 0.8em;
    border-bottom: 0.1em solid #ddd;
    text-align: center;
}
.answered {
    color: #218838;
}
.not-answered {
    color: firebrick;
}
/* 페이지네이션 스타일 */
.board-pagination {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    gap: 0.5em;
}

.board-pagination button {
    padding: 0.2em 0.8em;
    margin-right: 3%;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 0.8em;
    transition: background-color 0.3s;
}

.board-pagination button.active {
    border-bottom: 2px solid #000;
    color: #000000;
}

.board-pagination button:disabled {
    cursor: not-allowed;
}
