.mycourse-list-container {
    justify-content: center;
    align-items: center;
    min-height: 92vh;
    background-color: #fff;
    padding: 3vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 75vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.mycourse-list {
    width: 95%;
    margin: 0 auto;
    padding-top: 1vh;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.mycourse-list-title-container {
    display: flex;
    text-align: left;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 5vh;
    margin-top: 5vh;
    color: #333;
    border-bottom: 2px solid #e2e8f0;
}

.mycourse-list-title {
    margin-right: 1%;
}

.mycourse-list-table {
    width: 100%;
    flex-grow: 1;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    padding: 4vh;
    margin-bottom: 2vh;
}

.mycourse-list-table thead tr {
    background-color: #b1c4e8;
    border-bottom: 2px solid #dcdcdc;
}

.mycourse-list-table tbody tr {
    border-bottom: 1px solid #dcdcdc;
}

.mycourse-list-table thead th,
.mycourse-list-table thead td {
    padding: 1vh;
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 1px solid #dcdcdc;
    background-color: #e0f1ff;
}

.course-clickable-row:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.mycourse-list-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.mycourse-list-table tbody td {
    padding: 1.5vh;
    text-align: left;
    font-size: 1.3em;
}

/* Pagination Styling */
.courselist-pagination {
    margin-top: auto; /* 항상 맨 아래로 이동 */
    padding: 1vh 0;
    text-align: center;
    margin-bottom: 2vh;
}

.pagination-button {
    margin: 0 1vw;
    background-color: #f0f0f0;
    cursor: pointer;
}

.pagination-button.active {
    color: #384955;
    border: 2px solid #384955;
    border-radius: 4px;
}

.pagination-button:hover:not(.active) {
    background: #f0f0f0;
}

.pagination-button:first-of-type,
.pagination-button:last-of-type {
    padding: 8px;
}
