.qna-board-container {
    width: 80%;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 0.2em 2em 2em 2em;
    border-radius: 0.7em;
}

.qna-board-header {
    text-align: left;
    margin-bottom: 0;
}

.qna-board-header h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0em;
    width: 40vw;
}

.qna-board-actions {
    gap: 1em; /* 버튼 간의 간격을 줍니다 */
    text-align: right;
    margin-right: 1.2em;
    min-height: 4vh;
}

.edit-button {
    padding: 0.3em 0.5em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    margin-right: 0.9em;
    font-size: 0.5em;
    text-align: right;
}

.delete-button {
    padding: 0.3em 0.5em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 0.5em;
    text-align: right;
}

.qna-board-content {
    background-color: #ffffff;
    padding: 1.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.qna-board-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7em;
    font-weight: bold;
}

.qna-board-question {
    text-align: left;
    font-size: 0.8em;
    padding-left: 1em;
    min-height: 20vh;
    border-top: 0.1em #cccccc solid;
}


.qna-board-author {
    font-style: italic;
    margin-top: 0.5em;
    text-align: right;
    font-size: 0.8em;
}

.qna-board-answer {
    text-align: left;
    font-size: 0.9em;
}

.qna-board-answer-content {
    padding: 1em;
    background-color: #d3d3d3;
    border-radius: 0.5em;
    font-size: 0.7em;
    margin-top: 0.1em;
}

.qna-board-container .qna-back-button {
    margin-top: 2vh;
}

.qna-board-comment-input{
    padding: 1em;
    background-color: #d3d3d3;
    border-radius: 0.5em;
    margin-top: 0.1em;
    width: 95%;
    text-align: left;
    font-size: 0.9em;
}
.qna-board-comment {
    display: flex;
    flex-direction: column;
}

.qna-board-comment-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.8vh;
}

