.qna-list-container {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}

.courselist-header {
    display: flex;
    justify-content: space-between; /* 양 끝으로 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    padding: 0 2em 0.5em 5.5em;
    border-radius: 10px;
}

.courselist-name {
    font-size: 1.5em;
    color: #212121;
}

/* 테이블 기본 스타일 */
.qna-table {
    width: 80%;
    border-collapse: collapse; /* 테두리와 셀 사이의 간격 제거 */
    border-radius: 0.5em;
    margin-left: 8%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 헤더 스타일 */
.qna-table th {
    background-color: #cce1ff;
    padding: 1em 0.8em;
    border-bottom: 0.1em solid #ddd;
    text-align: center;
    font-size: 0.8em;
    width: 25%;
}

.create-qna {
    float: right;
    margin: 5% 10% 0% 10%;
    width: 10%;
    height: 100%;
    border: 0.2em #cce1ff solid;
    background-color: #fff;
    border-radius: 0.5em;
    font-size: 0.8em;
    color: #002c75;
    cursor: pointer;
}

/* 테이블 행 기본 스타일 */
.qna-table tr {
    background-color: #f9f9f9; /* 기본 배경색 */
    transition: background-color 0.3s; /* 배경색 전환 애니메이션 */
    padding: 0.01em;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 1em;
}

.qna-table th {
    font-size: 1.1em;
}

/* 테이블 행: 마우스를 올렸을 때 */
.qna-table tr:hover {
    background-color: lightgray;
    cursor: pointer;
}

/* 테이블 데이터 셀 스타일 */
.qna-table td {
    padding: 0.8em;
    border-bottom: 0.1em solid #ddd;
    text-align: center;
}
.answered {
    color: #002c75;
}
.not-answered {
    color: firebrick;
}
/* 페이지네이션 스타일 */
.qna-pagination {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    gap: 0.5em;
}

.qna-pagination button {
    padding: 0.2em 0.8em;
    margin-right: 3%;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 0.8em;
    transition: background-color 0.3s;
}

.qna-pagination button.active {
    border-bottom: 2px solid #000;
    color: #000000;
}

.qna-pagination button:disabled {
    cursor: not-allowed;
}
