/* 전체 폼 컨테이너 */
.qna-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.2em 2em 2em 2em;
    border-radius: 0.5em;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

/* 제목 (h2) 스타일 */
.qna-post-title {
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

/* 폼 내부 구성 */
.qna-form {
    width: 100%;
}

/* 제목 입력 상자 */
.title-box input {
    width: 100%;
    height: 5vh;
    padding: 1em;
    margin: 1em 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0.08em solid #ccc;
    outline: #ccc;
    font-size: 1em;

}

/* 내용 입력 상자 */
.content-container {
    margin-bottom: 1em;
}

.content-box {
    width: 100%;
    height: 40vh;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0.3em;
    border: 0.08em solid #ccc;
    resize: none; /* 사용자가 크기 조정 불가하게 설정 */
    font-size: 1em;
    outline: #ccc;
    min-height: 50vh;
}

/* 제출 버튼 */
.qna-submit-button{
    float: right;
    padding: 0.3em 1em;
    margin-right: 2%;
    font-size: 0.8em;

    background-color: #fff;
    border: 2px #002c75 solid;
    color: #002c75;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.qna-back-button {
    float: right;
    padding: 0.25em 1em 0.2em 1em;
    margin-top: 0.1em;
    margin-right: 1%;

    width: 5vw;
    font-size: 0.8em;
    background-color: #fff;
    border: 2px #002c75 solid;
    color: #002c75;
    border-radius: 0.5em;
    cursor: pointer;
}
