.MainCourseList {
  max-width: 1000px;
  margin: 0.3rem auto;
  padding: 0.3rem;
}

.MainCourseCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.3rem;
  margin-top: 0;
}

.LoadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.NoCoursesText {
  text-align: center;
  color: #666;
}
