.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.register-container {
    background-color: #fff;
    padding: 1.5vh 1vw;
    border-radius: 0.5vw;
    box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
    width: 80vw;
    max-width: 30vw;
}

.register-title {
    font-size: 1.5vw;
    margin-bottom: 0.8vw;
    text-align: center;
    color: #333;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-field {
    margin-bottom: 1.5vh;
    position: relative;
}

.register-input {
    width: calc(100% - 1.5vw);
    padding: 1vh 0.6vw;
    border: 0.15vw solid #ccc;
    border-radius: 0.3vw;
    font-size: 0.9vw;
}
.register-select {
      width: calc(100% - 0.1vw);
      padding: 0.6vw;
      border: 0.15vw solid #ccc;
      border-radius: 0.3vw;
      font-size: 0.9vw;
  }

.register-input.error, .register-select.error {
    border-color: red;
}

.register-error-container {
    height: 1.5vh;
    margin-top: 0.7vh ;
    overflow: hidden;
}

.register-error {
    color: red;
    font-size: 0.5em;
    margin: 0;
}



.register-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 1vh 0.5vw;
    border-radius: 1em;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
}

.register-button:hover {
    background-color: #000000;
}

.register-general-error {
    color: red;
    font-size: 0.5em;
    text-align: center;
    margin-top: 1vh;
}

.register-general-error-container {
    height: 3vh;
    overflow-y: auto;
    margin-top: 0.5vh;
}
