/* VideoPage.css */
.video-page-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.course-list-container {
    flex: 1;
    padding: 2vh;
}

.category-title {
    text-align: center;
    margin-bottom: 2vh;
}

.pagination {
    text-align: center;
    margin-top: 2vh;
}

.pagination-info {
    margin: 0 1vw;
}

.pagination-button {
    padding: 2vh 4vw;
    margin: 0 1vw;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
    background-color: #e0e0e0;
}
