.curriculumBox {
    width: 80vw;
    position: relative;
    margin: 20vh auto;
    padding: 5vh;
    border-radius: 1vh;
    box-shadow: 0 0.4vh 0.5vh rgba(0, 0, 0, 0.8);
    max-width: 100vh;
    min-width: 20vh;
}

.curriculum-header {
    border: none;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    font-size: 2em;
    left: 2vh;
    margin-bottom: 2vh;
    font-weight: bold;
}

.toggle-all-button {
    position: absolute;
    top: 6vh;
    right: 6vh;
    color: black;
    border: none;
    padding: 1vh 2vh;
    font-size: 1em;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 0.5vh;
}

.toggle-all-button:hover {
    background-color: #cccccc;
}

.toggle-all-button:disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
    opacity: 0.7;
}

.curriculum-table {
    width: 100%;
    border-collapse: collapse;
    border: 0.2vh solid #ddd;
}

.curriculum-column {
    background-color: #f9f9f9;
}

.curriculum-table th {
    padding: 1.4vh;
    text-align: center;
    border: 0.1em solid #ddd;
    color: #666;
}

.curriculumTitle {
    padding: 1.5vh;
    border: 0.1em solid #ddd;
    cursor: pointer;
    background-color: #f9f9f9;
    font-weight: bold;
}
.curriculum-number, .curriculum-title {
    padding: 1.3vh;
    text-align: center;
    border: none;
}

.curriculum-table th:first-child,
.curriculum-table td:first-child {
    border-left: 0.1em solid #ddd;
}

.curriculum-table th:last-child,
.curriculum-table td:last-child {
    border-right: 0.1em solid #ddd;
}

.curriculumTitle:hover {
    background-color: #e0e0e0;
}
.contentsList {
    list-style-type: none;
    margin: 0;
    padding: 10vh 20vh;
    border: 0.1em solid #ddd;
    border-top: none;
}

.contentsList li {
    padding: 8vh 0;
    border-bottom: 0.1em solid #eee;
    font-size: 1em;
}

.contentsList li:last-child {
    border-bottom: none;
}

.content-number {
    width: 12vh;
    padding: 1.3vh;
    padding-right: 4vh;
    text-align: right;
    border: 0.1em solid #ddd;
    white-space: nowrap;
    vertical-align: middle;
}

.curriculum-number::before {
    content: attr(data-icon);
    display: inline-block;
    width: 1.5em;
    text-align: center;
}

.content-title {
    text-align: center;
}
.type{
    border-left: 0.1em solid #ddd ;
    width: 10vh;
}
.play-button {
    background-color: white;
    border: none;
    color: black;
    font-size: 1em;
    cursor: pointer;
    padding: 0;
}

.play-button:hover {
    color: darkgreen;
}