.footer {
    width: 89.1vw;
    height: 20vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
}

.footer-color {
    color: lightgray;
}
.footer .footer-box {
    display: flex;
    width: 100%;
    margin-bottom: 3vh;
    text-align: center;
    font-size: 0.5em;
}
.footer .footer-line {
    display: flex;
    text-align: center;
    font-size: 0.7em;
}
.footer .footer-text {
    display: flex;
}
.footer .footer-line div {
    margin-right: 3vh;
}
.footer .footer-box div {
    margin-right: 3vh;
}
