/* 기본 헤더 스타일 */
.header {
    width: auto;
    height: 10vh;
    padding: 0.5vh 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #333;
    transition: top 0.3s;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-mypage {
    background-color: #001529;
    color: #fff;
}

.logo {
    width: 5vw;
    height: 7vh;
    cursor: pointer;
    display: block;
    position: relative;
}

.header-buttons,
.user-menu {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.go-course {
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9em;
    background: none;
    color: inherit;
    padding: 1vh 2vw;
}

.auth-buttons button:first-child {
    border: 2px solid #519ffb;
    background-color: #fff;
    color: #519ffb;
    padding: 0.7vh 1vw;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 2vw;
}

.auth-buttons button:last-child {
    padding: 0.8vh 1vw;
    background-color: #519ffb;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

/* 유저 아이콘 및 드롭다운 스타일 */
.user-icon {
    width: 2vw;
    height: 4vh;
    cursor: pointer;
}

.user-dropdown {
    position: absolute;
    top: 8%;
    right: 5%;
    display: flex;
    flex-direction: column;
    background-color: #444;
    padding: 0.7%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.user-dropdown button {
    background: none;
    color: #fff;
    padding: 1vh 0.3vw;
    border: none;
    text-align: left;
    cursor: pointer;
}

.user-dropdown button:hover {
    background-color: #555;
    border-radius: 3px;
}
