
.main-header {
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 5%;
    background-color: #fff;
    color: #333;
    box-shadow: 0px 5px 10px rgb(215, 212, 212);
    position: relative;
    z-index: 5;
}

.logo a {
    color: #333;
    font-size: 1.5em;
    text-decoration: none;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1vw;
}

.main-nav ul li {
    display: inline;
}

.main-nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.5em;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}
