.noticeItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 0;
  border-bottom: 0.1vh solid #ddd;
}

.title_col {
  max-width: 100%;
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  padding-bottom: 1.5%;
  text-align: left;
  height: 3vh;
}

.createAt_col {
  color: gray;
  font-size: 2vh;
  text-align: right;
  padding-top: 0.5%;
  height: 1vh;
}
