.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 1vh;
}

.page-item {
    margin: 0 ;
    cursor: pointer;
}

.page-item.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.page-link {
    padding: 1vh 1vw;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s;
}

.page-item.active .page-link {
    background-color: #e0e0e0;
}

.page-item:hover .page-link:not(.active) {
    background-color: #f0f0f0;
}

.page-item.active .page-link {
    font-weight: bold;
}

.page-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-link:hover {
    background-color: #f0f0f0;
}
