.update-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.update-container {
    background-color: #fff;
    padding: 2vh 2vw;
    border-radius: 1vw;
    box-shadow: 0 0.3vw 0.5vw rgba(0, 0, 0, 0.1);
    width: 80vw;
    max-width: 28vw;
}

.update-title {
    font-size: 1.6vw;
    margin-bottom: 1.5vh;
    text-align: center;
    color: #333;
    font-weight: bold;
}

.update-form {
    display: flex;
    flex-direction: column;
}

.update-field {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    position: relative;
    border: 0.15vw solid #ccc;
    border-radius: 0.4vw;
    padding: 1.2vh 0.8vw;
    background-color: #fff;
}

.update-label {
    font-size: 0.9vw;
    color: #555;
    width: 20%;
    text-align: left;
}

.update-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 0.9vw;
    background-color: transparent;
    padding-left: 0.8vw;
}

/* 비활성화된 입력 필드 */
.update-input.disabled {
    background-color: #e9e9e9;
    color: #666;
    cursor: not-allowed;
}

/* 에러 발생 시 스타일 */
.update-input.error {
    border-color: red;
}

.update-error-container {
    margin-top: 0.5vh;
    overflow: hidden;
    height: 1.8vh;
}

.update-error {
    color: red;
    font-size: 0.7em;
    margin: 0;
}

/* 버튼 스타일 */
.update-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 1.5vh 1vw;
    border-radius: 1em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
    max-width: 50%;
    margin-top: 2vh;
    align-self: center;
}

.update-button:hover {
    background-color: #000;
}

.update-general-error {
    color: red;
    font-size: 0.8em;
    text-align: center;
    margin-top: 1vh;
}

.update-general-error-container {
    height: 3vh;
    overflow-y: auto;
    margin-top: 0.5vh;
}
