.course-slider {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px; /* 좌우 패딩 추가 */
}


.course-main-card {
  width: 90%; /* 카드의 너비를 줄여 여유 공간 확보 */
  height: 30vh;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0 10px; /* 좌우 간격을 확보하여 카드 간의 여백 추가 */
}




.course-main-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.course-main-card-header {
  height: 13vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.course-main-card-content {
  padding: 1vw;
  flex: 1;
  text-align: center;
}

.course-main-card-title {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 0.5vh;
  color: #333;
}

.course-main-card-tutor {
  font-size: 0.9em;
  color: #777;
}
