.courselist-name{
    padding: 1em 3em 0.5em;
    font-size: 1.5em;
    text-align: left;
}

/* 테이블 기본 스타일 */
.qna-table {
    width: 80%;
    border-collapse: collapse; /* 테두리와 셀 사이의 간격 제거 */
    border-radius: 0.5em;
    margin-left: 10%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 헤더 스타일 */
.qna-table th {
    background-color: #cce1ff;
    padding: 1em 0.8em;
    border-bottom: 0.1em solid #ddd;
    text-align: center;
    font-size: 0.8em;
    width: 25%;
}

.create-qna{
    float: right;
    margin-right: 5%;
    margin-top: 3em;
    font-size: 0.3em;
    border: 0.2em snow solid;
    border-radius: 0.5em;
}


/* 테이블 행 기본 스타일 */
.qna-table tr {
    background-color: #f9f9f9; /* 기본 배경색 */
    transition: background-color 0.3s; /* 배경색 전환 애니메이션 */
    padding: 0.01em;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 0.6em;
}

/* 테이블 행: 마우스를 올렸을 때 */
.qna-table tr:hover {
    background-color: lightgray; /* Hover 효과 */
}


/* 테이블 데이터 셀 스타일 */
.qna-table td {
    padding: 0.8em;
    border-bottom: 0.1em solid #ddd;
    text-align: center;
}
.answered{
    color: darkgreen;
}
.not-answered{
    color: firebrick;
}
/* 페이지네이션 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    gap: 0.5em;
}

.pagination button {
    padding: 0.2em 0.4em;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 0.5em;
    border-radius: 0.5em;
    transition: background-color 0.3s;
}

.pagination button.active {
    background-color: transparent;
    color: #f4f4f4;
}

.pagination button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}