/* 전체 폼 컨테이너 */
.qna-post-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2em 2em 2em 2em;
    border-radius: 0.5em;
    width: 80%;
    height: 65vh;
    margin: 5% auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* 제목 (h2) 스타일 */
.qna-post-title {
    position: relative;
    top:1em;
    right: 7em;
    font-size: 2em;
    margin-bottom: 1em;
}
/* 폼 내부 구성 */
.qna-post-form {
    width: 100%;
}

/* 제목 입력 상자 */
.title-box input {
    width: 100%;
    height: 5vh;
    padding: 1em;
    margin: 1em 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0.08em solid #ccc;
    outline: #ccc;
    font-size: 1em;
}

/* 내용 입력 상자 */
.content-container {
    margin-bottom: 1em;
}

.content-box {
    width: 100%;
    height: 40vh;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0.08em solid #ccc;
    resize: none; /* 사용자가 크기 조정 불가하게 설정 */
    font-size: 1em;
    outline: #ccc;
}

/* 제출 버튼 */
.submit-button {
    float: right;
    padding: 0.3em 1em;
    margin-top: 0.005em;
    margin-right: 1em;
    font-size: 0.8em;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.submit-button:hover {
    background-color: #1565c0;
    transform: scale(1.00);
}

.submit-button:active {
    transform: scale(0.95);
}
