.password-prompt-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.password-prompt-container {
    background-color: #fff;
    padding: 1.5vh 1vw;
    border-radius: 0.5vw;
    box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
    width: 80vw;
    max-width: 30vw;
    text-align: center;
}

.password-prompt-title {
    font-size: 1.5vw;
    margin-bottom: 1.5vh;
    text-align: center;
    color: #333;
}

.password-prompt-form {
    display: flex;
    flex-direction: column;
    align-items: center;  /* 중앙 정렬 */
}

.password-prompt-field {
    margin-bottom: 2vh;
    position: relative;
    width: 100%;  /* 입력 필드가 양쪽 끝까지 확장되도록 설정 */
}

.password-prompt-input {
    width: 90%;  /* 입력 필드의 너비를 90%로 설정하여 더 작게 만듦 */
    padding: 1vh 0.6vw;
    border: 0.15vw solid #ccc;
    border-radius: 0.3vw;
    font-size: 0.8vw;  /* 폰트 크기 조정 */
}

.password-prompt-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 1vh 0.5vw;
    border-radius: 1em;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 50%;  /* 버튼 크기를 50%로 조정 */
    margin-top: 1.5vh; /* 버튼과 입력 필드 사이 간격 */
}

.password-prompt-button:hover {
    background-color: #000000;
}

.password-prompt-general-error {
    color: red;
    font-size: 0.5em;
    text-align: center;
    margin-top: 1vh;
}

.password-prompt-general-error-container {
    height: 3vh;
    overflow-y: auto;
    margin-top: 0.5vh;
}
